Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Roopik Labs <support@roopik.com>
Homepage: https://roopik.com/
Installed-Size: @@INSTALLEDSIZE@@
Provides: visual-studio-@@NAME@@
Conflicts: visual-studio-@@NAME@@
Replaces: visual-studio-@@NAME@@
Description: AI-Native Canvas-First IDE
 Roopik is an AI-native, canvas-first IDE built for modern development.
 See https://roopik.com for installation instructions and FAQ.
